# Admin Blog Authentication
BLOG_ADMIN_PASSWORD=change_this_secure_password

# Nodemailer / Contact Form
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=contact@samtek.id
SMTP_PASS=
CONTACT_RECEIVER_EMAIL=contact@samtek.id

